html, body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

/*-------Navbar-------*/

.header {
    background-color: #818C6D;
    border: none;
    margin: 50px 0 0 0;
}

.header .brand {
    color: #ffffff;
}

.header .intro li a {
    color: #ffffff;
}

.header .icon-bar {
    background-color: #ffffff !important;
}

/*-------Myblog-------*/

.banner {
    height: 200px;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    background: #0f587a transparent repeat top left;
    background: -webkit-linear-gradient(left, #C2BA9B, #5e703d, #818C6D);
    background: -o-linear-gradient(right, #C2BA9B, #5e703d, #818C6D);
    background: -moz-linear-gradient(right, #C2BA9B, #5e703d, #818C6D);
    background: linear-gradient(to right, #C2BA9B, #5e703d, #818C6D);
    opacity: 0.5;
}

.space {
    margin: 40px 0 40px 0;
}

.space1 {
    margin: 100px 0 100px 0;
}

/*-------Portfolio-------*/

.emart {
    margin: 60px 0;
}

/*-------Home-Formvalidation-------*/


.ng-dirty.ng-invalid {
    border-color: red;
}

.ng-dirty.ng-valid {
    border-color: blue;
}

/*-------Footer-------*/

.social-icons {
    height: 100px;
    background-color: #8a9377;
    margin-top: 100px;
    padding-top: 30px;
}

.social-icons a {
    color: #5e703d;
}
