<div>
  <div class="space"></div>

  <div class="container">
    <h1 class="title"><strong>My skills</strong></h1>

    <div class="row">
     <div class="col-md-6">
       <img class="img-responsive" src="../images/Pic_7.jpg">
     </div>
     </br>
     <div class="col-md-4">
       <ul class="skill">
         <li>HTML5</li>
         <li>CSS3</li>
         <li>Javascript</li>
         <li>jQuery</li>
         <li>Bootstrap</li>
         <li>AngularJS</li>
         <li>Photoshop</li>
       </ul>
     </div>
    </div>
  </div>

  <div class="space"></div>

  <div class="container">
    <div class="row">
      <h1 class="title"><strong>A little about me</strong></h1>
      <div class="col-md-5">
         <img class="img-responsive" src="../images/Pic_1.jpg">
      </div>

      <div class="col-md-6">
         </br>
         <p>I'm Tiffany and I am studying to become a front-end developer. </br></br>
         I enjoy spending my spare time sharpening my front-end skills, playing video games or just hanging out with my close friends.</br></br>
         If you are like me and have a passion for web development, you'll feel right at home here on my page.
         </p>
      </div>
    </div>
  </div>

  <div class="space"></div>

  <div class="contact">
    <div class="container">
     <div class="col-md-6">
       <p><i class="fa fa-mobile" aria-hidden="true"></i> Phone number: +358 458505591  </br>
         <i class="fa fa-envelope-o" aria-hidden="true"></i> Email: tiffanyle308@gmail.com</p>
     </div>
     <div class="col-md-6">
       <h2>Contact me</h2>
       <form ng-app="myApp" ng-controller="formController as form" name="userForm" novalidate>

         <!-- name field -->
         <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
             <label>Name</label>
             <input type="text" name="name" class="form-control"
               ng-model="form.name"
               ng-minlength="5"
               ng-maxlength="20"
               placeholder="Tell me your name"
               required>

             <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
               <p ng-message="minlength">Your name is too short.</p>
               <p ng-message="maxlength">Your name is too long.</p>
               <p ng-message="required">Your name is required.</p>
             </div>
         </div>

         <!-- email field -->
         <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">
             <label>Email</label>
             <input type="email" name="email" class="form-control"
                 ng-model="form.email"
                 ng-minlength="11"
                 ng-maxlength="40"
                 placeholder="Tell me your email"
                 required>

             <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
               <p ng-message="required">This field is required</p>
               <p ng-message="minlength">This field is too short</p>
               <p ng-message="maxlength">This field is too long</p>
               <p ng-message="email">This needs to be a valid email</p>
             </div>
         </div>

         <div class="form-group" ng-class="{ 'has-error': userForm.message.$touched && userForm.message.$invalid }">
             <label>Message</label>
             <input type="text" name="message" class="form-control"
                 ng-model="form.message"
                 ng-minlength="10"
                 ng-maxlength="5000"
                 placeholder="Send me a message"
                 required>

             <div class="help-block" ng-messages="userForm.message.$error" ng-if="userForm.message.$touched" >
               <p ng-message="minlength">This field is too short</p>
               <p ng-message="maxlength">This field is too long</p>
               <p ng-message="required">This field is required</p>
             </div>
         </div>

         <div class="form-group">
             <button type="submit" class="btn submit">Send</button>
         </div>
       </form>

     </div>
    </div>
  </div>
</div>
