<div class="container">
  <div class="row">
    <div class="second-showcase">
      <div class="col-md-2">
        <div class="intro-second">
          <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
          <p>Please click the "Load latest products" button to load the products <br/></p>
          <p>You can put them into the basket by clicking the "Add" button next to them<br/></p>
          <p>Finally after having some products in the basket you can order them by clicking "Place Order". This will show an alert with the products that would be ordered</p>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row no-gutter">
          <div class="col-xs-6 col-md-4" ng-repeat="book in books">
            <div class="second-booklist">
              <img class="img-responsive" ng-src="{{ book.image }}"  />
              <div class="booklist-text">
                <h3>{{ book.name }}</h3>
                <p>{{ book.text }}</p>
                <p>{{ book.price | currency : "€" }}</p>
                <p><a href="#/showcase/1" ng-click="addToCart(book)">Add</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 checkout">

        <table class="table">
          <tbody>
            <tr ng-repeat="book in myCart">
              <td><img class="img-responsive cart-image" ng-src="{{ book.image }}" /></td>
              <td><p class="bookname">{{ book.name }}</p></td>
              <td><p>{{ book.price | currency : "€" }}</p></td>
              <td><a href ng-click="removeItem($index)">X</a></td>
            </tr>

            <tr>
              <td></td>
              <td><strong>Total</strong></td>
              <td><strong>{{getTotal() | currency: "€"}}</strong></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
